{% extends 'base.html' %}
{% block title %} Lista produktów {% endblock %}
{% block content %}
    
    <table class="table table-striped align-middle">
      <thead>
        <tr style="text-align: center;">
          <th>Nazwa produktu</th>
          <th>Liczba opinii</th>
          <th>Pozytywne opinie</th>
          <th>Negatywne opinie</th>
          <th>Ocena</th>
          <th colspan="3">Eksport</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr style="text-align: center;">
          <td>
            <a class="btn btn-ceneo btn-sm" href="{{ url_for('product', product_id=product.product_id) }}">{{product.product_name}}</a>
          </td>
          <td><span class="badge bg-primary rounded-pill">{{product.stats.reviews_count}}</span></td>
          <td><span class="badge bg-success rounded-pill">{{product.stats.pros_count}}</span></td>
          <td><span class="badge bg-danger rounded-pill">{{product.stats.cons_count}}</span></td>
          <td><span class="badge bg-ceneo rounded-pill">{{product.stats.avg_stars}}</span></td>
          <td><a href="#" class="btn btn-info btn-sm">CSV</a></td>
          <td><a href="#" class="btn btn-info btn-sm">XLSX</a></td>
          <td><a href="#" class="btn btn-info btn-sm">JSON</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}